NODE_ENV=
PORT=
BULL_MQ_PORT=
BULL_MQ_HOST=

MYSQL_DB=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_PORT=
MYSQL_HOST=

DEFAULT_TOKEN=
JWT_AUDIENCE=
JWT_ISSUER=

#MAIL
MAIL_API_URL=
MAIL_AUTH=
MAIL_TOKEN=
MAIL_SENDER=
MAIL_NOREPLY=

#FX
EXCHANGE_RATE_API_KEY=
EXCHANGE_RATE_API_URL=